:root {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-flow: column wrap;
    position: relative;
    color: #c6d4df;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background: url(https://w0.peakpx.com/wallpaper/313/900/HD-wallpaper-cityscape-digital-art-cityscape-digital-art-artist-artwork.jpg);
    background-size: cover;
    /* background-color: #fff; */

}

header {
    background-color: #333;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;
    box-shadow: 0 0 7px 0 rgb(0 0 0 / 75%);
    padding: 1em 0.5em;

}

.header-content img {
    height: 36px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 2em;

}

.nav-links li a {
    text-decoration: none;
    color: #fff;
}

main {
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 100%;
    /* background-color: rgba(7, 3, 46, 0.2); */
    padding: 1rem 0;
}

.search-game {
    max-width: 210px;
}

#store-search {
    padding: 3px 4px 2px;
    height: 30px;
}

.search-box {
    background-image: none;
    background-color: #316282;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 0px rgb(255 255 255 / 20%);
    color: #fff;
    margin-bottom: 0px;
    outline: none;
    height: 27px;
    padding: 0px 6px;
    position: relative;
    display: flex;
    align-items: center;
}

.search-box input {
    border: none;
    background-color: transparent;
    color: #eeeeee;
    margin-top: 2px;
    margin-left: 8px;
    max-width: 210px;
    outline: none;
    line-height: 26px;
}

.search-icon img {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0;
    right: 0;
    /* background-image: url(https://store.cloudflare.steamstatic.com/public/images/v6/search_icon_btn.png); */
}

#categoryGroup {
    color: #66c0f4;
    list-style-type: none;
    margin-top: 1em;
    padding-top: 1em;
    border-top: 2px solid #316282;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.each-category {
    margin-top: 15px;
    padding-bottom: 1rem;
    border: none;
    text-align: left;
    font-size: 1rem;
    background-color: transparent;
    color: #66c0f4;
    max-width: 100%;
}

.each-category:hover {
    border: 1px solid rgba(12, 127, 215, 0.2);
    border-radius: 3px;
    background-color: rgba(12, 127, 215, 01);
    color: #fff;
    padding: 8px 12px;
    text-align: center;
}

main .showing-game {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    height: auto;
}

.game-wrapper {
    width: 270px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    border-radius: 10px;
}

.game-wrapper .cover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.cover:hover {
    filter: brightness(120%);
}

.cover .game-info p {
    padding-left: 10px;
    color: #acdbf5;
}

.btn-group {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 2rem auto;
}

.btn-group button {
    width: 50px;
    height: 50px;
    background-color: transparent;
    color: #fff;
    font-size: 1.2rem;
    border: 1px solid black;
    border-radius: 5px;
    font-weight: bold;
    background-color: rgba(12, 127, 215, 0.2);
}

.nextPage:hover {
    background-color: rgba(12, 127, 215, 01);
    /* filter: brightness(120%); */
}

.nextPage:active {
    background-color: rgba(0, 0, 0, 0.3);
}

.btn {
    width: 30px;
    height: 30px;
    color: black;
}

.btn-group .current-page {
    background-color: #8490eb !important;
    color: black;
    /* filter: brightness(120%); */
    -webkit-box-shadow: 0px -1px 27px 12px rgba(75, 142, 255, 0.72);
    box-shadow: 0px -1px 27px 12px rgba(75, 142, 255, 0.72);

}

main .showing_game {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    flex-direction: column;
    margin-left: 5px;
}

.show_detail .title_contain .title {
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
    text-align: left;
    font-family: Motiva Sans, Arial, Helvetica, sans-serif;
}

.show_detail .title_contain .price {
    color: #acdbf5;
    font-size: 1rem;
    padding-bottom: 15px;

}

.show_detail .img_detail {
    display: flex;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.5) 100%);
    gap: 20px;
    padding: 16px;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 20px;
}

.game_details .game_description {
    max-height: 150px;
    max-width: 400px;
    overflow: hidden;
    font-size: 14px;
    text-overflow: ellipsis;
    padding-bottom: 15px;
}

.game_details .game_informations {
    font-size: 12px;
    overflow: hidden;
    color: #66c0f4;
    line-height: 20px;
}

.game_details .game_informations p {
    margin: 0px;
}

.tags_contain {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.5) 100%);
    font-size: 12px;
    padding: 16px;
    border: 1px solid black;
    border-radius: 10px;
}

.tags_contain .tag {
    display: inline-block;
    line-height: 15px;
    padding: 2px 7px;
    background-color: rgba(103, 193, 245, 0.2);
    border-radius: 2px;
    margin: 4px;
    color: #67c1f5;
    text-overflow: ellipsis;
    cursor: pointer;
}

.back {
    display: inline-block;
    padding: 0 10px;
    font-size: 14px;
    width: 80px;
    height: 30px;
    background-color: transparent;
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 5px;
    -webkit-box-shadow: inset 1px 0px 15px 5px #FE97FF;
    box-shadow: inset 1px 0px 15px 5px #FE97FF;
}

.back:hover {
    -webkit-box-shadow: 1px 0px 15px 5px #FE97FF;
    box-shadow: 1px 0px 15px 5px #FE97FF;
}

.back:active {
    background-color: #FE97FF;
}

.back a {
    text-decoration: none;
    color: #fff;
}